* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

h1 {
    margin: 10px 0px 10px 0px;
}

.app-body {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 80%
}

.left-div {
    background-color: blue;
    width:60%;
    float: left;
    text-align: right;
    padding: 10px;
}

.right-div {
    background-color: red;
    width: 40%;
    float: left;
    padding: 10px;
    
}

.author-div {
    clear: both;
    background-color: green;
}